[Unit]
Description= BrazSpeechData.

[Service]
Type=simple
ExecStart=/bin/bash /home/utf/BrazSpeechData/lanca-app.sh
User=utf
Group=utf
Restart=always
WorkingDirectory=/home/utf/BrazSpeechData/
[Install]
WantedBy=multi-user.target

