{% with title='BrazSpeechData' %}
{% include 'header_admin.html' %}
{% endwith %}
<section class="audios-info">
	<div class="container">
		<div class="heading">
			<h1>Informações sobre os áudios da base de dados:</h1>
		</div>
		<div class="audio-grid">
			<!-- Grid item 1 -->
			<div class="audio-grid-item">
				<p>O total de áudios anotados é: {{data.total_audios}}.</p>
			</div>
			<!-- Grid item 2 -->
			<div class="audio-grid-item">
				<p>O total de horas de áudios anotadas é: {{data.total_hours}} horas.</p>
			</div>
			<!-- Grid item 3 -->
			<div class="audio-grid-item">
				<p>O total de horas de áudios válidas anotadas é: {{data.valid_hours}} horas.</p>
			</div>
			<!-- Grid item 4 -->
			<div class="audio-grid-item">
				<p>O total de áudios transcritos é: {{data.audios_transcribed}}.</p>
			</div>
			<!-- Grid item 5 -->
			<div class="audio-grid-item">
				<p>O total de horas de áudios transcritos é: {{data.total_hours_transcribed}} horas.</p>
			</div>
			<!-- Grid item 6 -->
			<div class="audio-grid-item">
				<p>O total de horas de áudios transcritos válidos é: {{data.valid_hours_transcribed}} horas.</p>
			</div>
		</div>
	</div>
</section>
