{% with title='BrazSpeechData' %}
{% include 'header_admin.html' %}
{% endwith %}


<section class="lista-usuarios">
	<div class="container">
		<div class="heading">
			<h1>Horas trabalhadas por cada anotador:</h1>
		</div>
		<div class="lista-usuarios-table-div" id='divListaDeUsuarios'>
			<p id="todosUsuarios" hidden>{{data.user_list}}</p>
			<p id="numeroSemanas" hidden>{{data.num_weeks}}</p>
			<table hidden>
				<tr>
					<th>Usuário</th>
					<th>Data de inicio</th>
					<th>Data de fim</th>
					<th>Horas anotadas</th>
					<th>Horas anotadas + descanso</th>
					<th>Carga horária</th>
					<th>Saldo</th>
				</tr>
			</table>
		</div>
	</div>
</section>



<script>


	function calcularHoraComDescanso(horasAnotadas, cargahoraria, totalSemanas, descansoInicio, descansoFim) {
		//console.log(horasAnotadas, cargahoraria, totalSemanas, descansoInicio)
		return ((1.25 / 20.0) * cargahoraria) * totalSemanas + horasAnotadas + descansoInicio + descansoFim;
	}

	function subtraiHoras(elemento1, elemento2) {
		let hora1 = elemento1.split(",")[3];
		let hora2 = elemento2.split(",")[3];

		return hora2 - hora1;
	}


	function styleTdSaldo(tr, saldo) {
		let tamanhoCells = tr.cells.length
		if (saldo < 0) {
			tr.cells[tamanhoCells - 1].style.color = "#ff0000";
		} else if (saldo >= 0) {
			tr.cells[tamanhoCells - 1].style.color = "#00ff37";
		}
		return tr;
	}


	function mostrarListaUsuarios() {
		//document.getElementById("listarUsuarios").disabled = true;

		let listaDatasNaoProcessada = document.getElementById('todosUsuarios').innerHTML;
		let listaDatasProcessada = listaDatasNaoProcessada.split(';').slice(0, -1);

		let listaDatasOrdenada = listaDatasProcessada.sort(subtraiHoras);
		let table = document.querySelector("div > table");


		listaDatasOrdenada.forEach(elemento => {

			let listaDados = elemento.split(",");
			let tr = document.createElement("tr");
			//listaDados na posicao 6 é o total de semanas do anotador, esse valor vai ser substituido depois
			let totalHorasDeProjeto = parseInt(listaDados[5]) * (parseInt(listaDados[6]) - 1) + parseInt(listaDados[7]) + parseInt(listaDados[8]);
			let descansoInicio = 0;
			//por algum motivo tem um caractere a mais na string
			//console.log(listaDados[0],listaDados[7], totalHorasDeProjeto)

			descansoInicio = parseInt(listaDados[7]) * (1.25 / 20.0);
			descansoFim = parseInt(listaDados[8]) * (1.25 / 20.0);

			listaDados[4] = parseFloat(listaDados[4]);
			listaDados[4] = calcularHoraComDescanso(listaDados[4], parseInt(listaDados[5]), parseInt(listaDados[6]) - 1, descansoInicio, descansoFim);
			listaDados[6] = (listaDados[4] - totalHorasDeProjeto).toFixed(2);
			listaDados[4] = listaDados[4].toFixed(2);
			listaDados.pop()//remove o 8dado da lista que é o total de horas de descanso da última semana de trabalho do anotador
			listaDados.pop()//remove o 7 dado da lista que é o total de horas de descanso da primeira semana de trabalho do anotador

			listaDados.forEach(dado => {
				let td = document.createElement("td");
				td.textContent = dado;
				tr.appendChild(td);
			});

			table.appendChild(styleTdSaldo(tr, listaDados[6]));
		});

		table.hidden = false;
	}

	mostrarListaUsuarios();
</script>
