{% with title='BrazSpeechData' %}
{% include 'header_admin.html' %}
{% endwith %}

<head>

	<style>
	</style>

</head>

<section class="admin">
	<div class="container">
		<div class="bem-vindo">
			<h1>Olá administrador(a), bem-vindo ao BrazSpeechData.</h1>
		</div>

		<div class="links">
			<div>
				<h3 style="font-size: 1.5em;text-align: center;">Informações:</h3>
			</div>
			<div>
				<a class="link" href="/admin-audios-info" target="_blank">Áudios</a>
				<span>|</span>
				<a class="link" href="/admin-users-info" target="">Usuarios</a>
				<span>|</span>
				<a class="link" href="/audit_page" target="">Auditoria</a>
			</div>
		</div>


		<div class="download-csv">
			<h3>Download da base como csv:</h3>
			<div class="download-csv__forms">
				<form method="post">
					<input class="download-csv__input" type="submit" name="export" value="Exportar CSV">
				</form>
			</div>

		</div>
</section>

<script>



</script>


{% include 'footer.html' %}
