{% with title='BrazSpeechData' %}
{% include 'header_admin.html' %}
{% endwith %}

<head>

	<style>
		.bem-vindo {
			height: 10vh;
		}

		.links {
			margin: 30px 0;
		}

		

		ol {
			list-style-type: none;
		}

		li {
			margin: 10px;
		}

		input {
			font-size: 1.3em;
			border-radius: 5px;
			transition: all 650ms;
			transition-property: background-color, color;
		}

		input:hover:enabled {
			background-color: #4a4a4a;
			color: #e3e3e3;
		}
	</style>

</head>

<div class='container' style='text-align: center'>
	<section id='main_content'>
		<div class="bem-vindo">
			<h1 style="font-size: 2.5em;">Olá administrador(a), bem-vindo ao BrazSpeechData.</h1>
		</div>

		<div class="links">
			<h3 style="font-size: 1.5em;">Informações:</h3>
			<a class="link" href="/admin-audios-info" target="_blank">Áudios</a> |
			<a class="link" href="/admin-users-info" target="_blank">Usuarios</a>
		</div>


		<div class="download-csv">
			<h3 style="font-size: 1.5em;">Download da base como csv:</h3>
			<input class="botaoForm" id="botaoGold" type="button" onclick="mostrarFormSelecionado(this.id,'gold')"
				value="Gold" style="height: 35px; width: 130px; margin-top: 15px;" />

			<input class="botaoForm" id="botaoValidados" type="button"
				onclick="mostrarFormSelecionado(this.id,'naoGold')" value="Anotados"
				style="height: 35px; width: 130px; margin-top: 15px;" />


			<form id="gold" method='post' hidden>
				<ol>
					<li><input class='list-input' type='submit' value='Gold Valid' name='Download Valid instances' />
					</li>
					<li><input class='list-input' type='submit' value='Gold Invalid 1'
							name='Download Invalid instances' />
					</li>
					<li><input class='list-input' type='submit' value='Gold Invalid 2'
							name='Download Invalid instances' />
					</li>
					<li><input class='list-input' type='submit' value='Gold Invalid 3'
							name='Download Invalid instances' />
					</li>
					<li><input class='list-input' type='submit' value='Gold Invalid 4'
							name='Download Invalid instances' />
					</li>
					<li><input class='list-input' type='submit' value='Gold Invalid 5'
							name='Download Invalid instances' />
					</li>
					<li><input class='list-input' type='submit' value='Gold Invalid 6'
							name='Download Invalid instances' />
					</li>
					<li><input class='list-input' type='submit' value='Gold Invalid 7'
							name='Download Invalid instances' />
					</li>
				</ol>
			</form>

			<form id="naoGold" method='post' hidden>
				<ol>
					<li><input class='list-input' type='submit' value='Valid' name='Download Valid instances' /></li>
					<li><input class='list-input' type='submit' value='Invalid 1' name='Download Invalid instances' />
					</li>
					<li><input class='list-input' type='submit' value='Invalid 2' name='Download Invalid instances' />
					</li>
					<li><input class='list-input' type='submit' value='Invalid 3' name='Download Invalid instances' />
					</li>
					<li><input class='list-input' type='submit' value='Invalid 4' name='Download Invalid instances' />
					</li>
					<li><input class='list-input' type='submit' value='Invalid 5' name='Download Invalid instances' />
					</li>
					<li><input class='list-input' type='submit' value='Invalid 6' name='Download Invalid instances' />
					</li>
					<li><input class='list-input' type='submit' value='Invalid 7' name='Download Invalid instances' />
					</li>
				</ol>
			</form>
		</div>

	</section>


</div>

<script>

	function controlarBotoes(inputId) {

		document.getElementById(inputId).disabled = true;


		let botaoInverso = inputId === 'botaoGold' ? 'botaoValidados' : 'botaoGold';

		document.getElementById(botaoInverso).disabled = false;

	}

	function mostrarFormSelecionado(inputId, id) {

		let formEscolhido = document.getElementById(id);
		formEscolhido.removeAttribute("hidden");

		let idInverso = id === "gold" ? "naoGold" : "gold";

		let formInverso = document.getElementById(idInverso);
		formInverso.hidden = true;

		controlarBotoes(inputId);
	}

</script>


{% include 'footer.html' %}
