{% with title="BrazSpeechData" %}
{% include "header.html"%}
{% endwith %}


<div class="container" style="text-align: center;">
	<section id="main_content">

		<div class="audits">
			<ul class="audit-list">
				<li>
					<a href="/audit_main/time_by_user" class="link  audit-item">Tempo por anotação por anotador</a>
				</li>
				<li>
					<a href="/audit_main/time_by_user" class="link audit-item" hidden>Pausas por anotador</a>
				</li>
				<li>
					<a href="/audit_main/time_by_user" class="link  audit-item" hidden>Máximo trabalhado em um dia por
						anotador</a>
				</li>
				<li>
					<a href="/audit_main/time_by_user" class="link  audit-item" hidden>Anotações maiores que o tempo do
						áudio</a>
				</li>
				<li>
					<a href="/audit_main/time_by_user" class="link  audit-item" hidden>Total de áudios por pessoa</a>
				</li>
			</ul>
		</div>

	</section>
</div>
