{% with title="BrazSpeechData" %}
{% include "header.html"%}
{% endwith %}


<div class="container" style="text-align: center; overflow: auto;">
	<section id="main_content">

		<div class="audit">
			<p id="info" hidden>{{data}}</p>

			<table class="audit-table" id="table__usuarios">
				<thead>
					<tr>
						<th>Usuário</th>
						<th>Tempo médio por áudio (segundos)</th>
						<th>Pausas por anotador a cada 20 horas</th>
						<th>Máximo trabalhado em um dia (horas) </th>
						<th>Anotações menores que o tempo do áudio</th>
						<th>Total de áudios por hora</th>
					</tr>
				</thead>
			</table>
		</div>
	</section>
</div>




<script type="application/javascript">

	function adicionarUsuariosNaTabela(lista, tabela) {

		lista.forEach(elemento => {

			let listaDados = elemento.split(",");
			let tr = document.createElement("tr");

			listaDados.forEach(dado => {
				let td = document.createElement("td");
				td.textContent = dado;
				tr.appendChild(td);
			});

			tabela.appendChild(tr);
		});

	}


	function gerenciarTabelasUsuarios() {

		let listaNaoProcessada = document.getElementById('info').innerHTML;
		let listaProcessada = listaNaoProcessada.split(';').slice(0, -1);


		let tabela = document.getElementById("table__usuarios");

		adicionarUsuariosNaTabela(listaProcessada, tabela);



	}

	gerenciarTabelasUsuarios();
</script>
