<form id="formInvalid" method="post" action="/">

	<p id="pEscondidoInvalido" hidden>Selecione o motivo da invalidação:</p>
	<div id="divEscondidoInvalido" hidden>

		<table>
			<tbody>
				<tr>
					<td>
						<input type="radio" name="Invalid" onclick="lidaClickRadio(this)" value="Invalid1" checked>
						<label for="Invalid1">Sobreposição de voz: a segunda voz está em um volume próximo, ou
							superior, ao do locutor principal.</label>
					</td>

				</tr>
				<tr>
					<td>
						<input type="radio" name="Invalid" onclick="lidaClickRadio(this)" value="Invalid2">
						<label for="Invalid2">Locutor com voz incompreensível: com ruído de fundo alto ou voz
							muito baixa.</label>
					</td>
				</tr>
				<tr>
					<td>
						<input type="radio" name="Invalid" onclick="lidaClickRadio(this)" value="Invalid3">
						<label for="Invalid3">A sentença com uma única palavra e essa palavra está
							truncada.</label>
					</td>
				</tr>
				<tr>
					<td>
						<input type="radio" name="Invalid" onclick="lidaClickRadio(this)" value="Invalid4">
						<label for="Invalid4">Sentença com a última palavra truncada.</label>
					</td>

				</tr>

				<tr>
					<td>
						<input type="radio" name="Invalid" onclick="lidaClickRadio(this)" value="Invalid5">
						<label for="Invalid5">Junção de mais de um problema no áudio.</label>
					</td>
				</tr>

				<tr>
					<td>
						<input type="radio" name="Invalid" onclick="lidaClickRadio(this)" value="Invalid6">
						<input type="text" name="InvalidReason" id="razaoInvalido"
							placeholder="Outro problema no áudio." style="width: 830px;" disabled>
					</td>
				</tr>

				<tr>
					<td>
						<input type="radio" name="Invalid" onclick="lidaClickRadio(this)" value="Invalid7">
						<label for="Invalid7">Erro na transcrição: palavras a mais, a menos ou trocadas.</label>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
	<input id="inputEscondidoInvalido" type="submit" value="Submit" name="Submit"
		style="height: 35px; width: 130px; margin-top: 100px;" hidden>
</form>
