<div class="valid-options">
	<form id="formValid" method="post" action="/">

		<p class="p-reason" id="pEscondidoValido" hidden>Selecione o motivo da validação:</p>
		<div id="divEscondidoValido" hidden>
			<table class="options-table">
				<tbody>
					<tr>
						<td>
							<input type="checkbox" name="Valid" onclick="lidaClickCheck()" value="Valid1">
							<label for="Valid1">Valid (áudio limpo).</label>
						</td>

					</tr>
					<tr>
						<td>
							<input type="checkbox" name="Valid" onclick="lidaClickCheck()" value="Valid2">
							<label for="Valid2">Valid com pausa preenchida.</label>
						</td>
					</tr>
					<tr>
						<td>
							<input type="checkbox" name="Valid" onclick="lidaClickCheck()" value="Valid3">
							<label for="Valid3">Valid com hesitação.</label>
						</td>
					</tr>
					<tr>
						<td>
							<input type="checkbox" name="Valid" onclick="lidaClickCheck()" value="Valid4">
							<label for="Valid4">Valid com ruído/voz baixa, mas compreensível.</label>
						</td>

					</tr>

					<tr>
						<td>
							<input type="checkbox" name="Valid" onclick="lidaClickCheck()" value="Valid5">
							<label for="Valid5">Valid com segunda voz baixa.</label>
						</td>
					</tr>


				</tbody>
			</table>
		</div>


		<input class="submit-button" id="inputEscondidoValido" type="button" value="Submit" disabled="true"
			onclick="formSubmitValido()" hidden>
	</form>
</div>




<script>
	function lidaClickCheck() {
		//Habilita o submit caso algum esteja marcado, e, desabilita caso desmarcar todos
		let checkBoxArray = document.querySelectorAll("input[type='checkbox']:checked")

		if (checkBoxArray.length > 0) {
			document.getElementById("inputEscondidoValido").disabled = false;
		} else {
			document.getElementById("inputEscondidoValido").disabled = true;
		}
	}


	function checarBot() {
		RVerify.action(function (code) {
			switch (code) {
				case 1:
					document.cookie = `dataUltimaChecagem=${new Date()}`
					document.getElementById("formValid").submit();
					return true;
					break;
				case 2:
					alert("Valide o captcha!");
					return false;
					break;
			}
		});
	}

	function retornarValorCookie() {

		cookieRe = /dataUltimaChecagem=.*/g;

		const dataUltimaChecagem = document.cookie.match(cookieRe)[0].split("=")[1];
		console.log(document.cookie.match(cookieRe))
		return dataUltimaChecagem;
	}

	function formSubmitValido() {
		let button = document.getElementById("inputEscondidoValido")
		if (!button.disabled) {
			button.disabled = true;
			const dataUltimaChecagem = retornarValorCookie();
			if ((new Date() - new Date(dataUltimaChecagem)) / 60000 > 10) {
				button.disabled = checarBot();
			} else {
				document.getElementById("formValid").submit();
			}
		}
	}

</script>
