<form id="formValid" method="post" action="/">

	<p id="pEscondidoValido" hidden>Selecione o motivo da validação:</p>
	<div id="divEscondidoValido" hidden>

		<table>
			<tbody>
				<tr>
					<td>
						<input type="checkbox" name="Valid" onclick="lidaClickCheck()" value="Valid1">
						<label for="Valid1">Valid (áudio limpo).</label>
					</td>

				</tr>
				<tr>
					<td>
						<input type="checkbox" name="Valid" onclick="lidaClickCheck()" value="Valid2">
						<label for="Valid2">Valid com pausa preenchida.</label>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="Valid" onclick="lidaClickCheck()" value="Valid3">
						<label for="Valid3">Valid com hesitação.</label>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="Valid" onclick="lidaClickCheck()" value="Valid4">
						<label for="Valid4">Valid com ruído/voz baixa, mas compreensível.</label>
					</td>

				</tr>

				<tr>
					<td>
						<input type="checkbox" name="Valid" onclick="lidaClickCheck()" value="Valid5">
						<label for="Valid5">Valid com segunda voz baixa.</label>
					</td>
				</tr>


			</tbody>
		</table>

	</div>


	<input id="inputEscondidoValido" type="button" value="Submit" style="height: 35px; width: 130px; margin-top: 100px;"
		disabled="true" onclick="formSubmitValido()" hidden>
</form>



<script>
	function lidaClickCheck() {
		//Habilita o submit caso algum esteja marcado, e, desabilita caso desmarcar todos
		let checkBoxArray = document.querySelectorAll("input[type='checkbox']:checked")

		if (checkBoxArray.length > 0) {
			document.getElementById("inputEscondidoValido").disabled = false;
		} else {
			document.getElementById("inputEscondidoValido").disabled = true;
		}
	}

	function formSubmitValido(){
		let button = document.getElementById("inputEscondidoValido")
		if(!button.disabled){
			button.disabled = true;
			document.getElementById("formValid").submit();
		}
	}

</script>
