{% with title="BrazSpeechData" %}
{% include "header.html" %}
{% endwith %}


<section class="change-password">
	<div class="container">
		<div class="return">
			<a href="/">Redefinir senha.</a>
		</div>
		<form method="POST" id="passform">
			<div>
				<label for="password">Nova senha</label>
				<input type="password" name="password" id="password1">
			</div>
			<div>
				<label for="password2">Confirmar</label>
				<input type="password" id="password2">
			</div>
			<div>
				<input class="form-submit-button" type="submit" value="OK">
			</div>
		</form>
	</div>
</section>

<script>
	document.getElementById("passform").onsubmit = function () {
		if (document.getElementById("password1").value == document.getElementById("password2").value) {
			return true;
		}
		else {
			alert("Senhas diferentes");
			return false;
		}
	}
</script>

{% include "footer.html" %}
