<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="{{ url_for('webui.static', filename='css/stylesheet.css') }}" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ url_for('webui.static', filename='css/github-dark.css') }}" media="screen">
    <title>BrazSpeechData</title>
    {% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
  {% for message in messages %}
  <li>{{message}}</li>
  {% endfor %}
{% endif %}
</ul>
{% endwith %}

  </head>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{{ url_for('webui.static', filename='js/jquery.md5.js') }}"></script>

<body>

{% if not custom_header %}
<header>
  <div class="container">
	<h1 class="projectName">{{ title }}</h1>
    {% if previous_page %}
    <a href="{{ previous_page }}">&lt;&lt; Back</a>
    {% endif %}
    {% if session.username %}
    <h3 style="text-align: right">Logged in as {{ session.username }}</h3>
	<h2 style="text-align: right">
		<a href="{{ url_for('webui.hours_worked') }}">Horas</a>  
		<a href="{{ url_for('webui.tutorial') }}">Tutorial</a>  
		<a href="{{ url_for('webui.change_password') }}">Trocar a senha</a>
		<a href="{{ url_for('webui.logout') }}">Logout</a>

	</h2>
	{% endif %}

	<!-- COMENTARIO PARA O LUCAS:
			Lucas, embaixo desse comentario está como se adiciona imagens pelo flask.
			Primeiro você utiliza a tag do html "img" junto com os atributos alt (Serve para adicionar um rótulo para imagem, caso de um erro de carregamento ou para assistente de voz),
			segundo é o src (esse é quem vai dar o caminho para o navegador carregar a imagem).
			No flask, detro do src, usa o comando url_for para criar um link dinâmico para algo, nesse caso a imagem. É assim que se carrega imagens que estão no servidor, fora do servidor é 
			só colar a url normal
			EX:
			 <img src="https://avatars3.githubusercontent.com/u/52468707?s=400&u=077103b7fa84c56ecfc20674c5ddc4cc351db5a1&v=4" />
	-->
	<img class="logoCopel" src='{{url_for("webui.static", filename="images/Copel.svg")}}' alt="Logo da Copel"/>
   </div>
   
</header>
{% endif %}
