{% with title="BrazSpeechData" %}
{% include "header.html" %}
{% endwith %}

<style>
	li {
		font-size: 1.2em;
		margin: 10px;
	}

	li:hover {
		transition: 0.5s;
		color: aliceblue;
		font-size: 1.8em;
		background-color: #363636;
	}

	h1 {
		font-size: 3em;
	}

	form {
		margin-bottom: 50px;
	}

	input {
		font-size: 1.1em;
	}

	input:hover {
		transition: 0.5s;
		color: aliceblue;
		background-color: #363636;
	}


	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 50%;
		margin-left: 25%;
		overflow: scroll;
	}

	th {
		color: #b5e853;
	}

	td,
	th {
		border: 1px solid #dddddd;
		text-align: center;
		padding: 8px;
		font-size: 1.2em;
	}

	tr:nth-child(even) {
		background-color: #474747;
	}


	.tooltip .tooltiptext {
		visibility: hidden;
		width: 0px;
		background-color: #474747;
		color: #fff;
		text-align: center;
		border: 0.5px solid #dddddd;
		border-radius: 6px;
		padding: 5px 0;
		position: absolute;
		z-index: 10;
		margin-left: -30%;
		top: 30%;
		opacity: 0;
		transition: opacity 0.6s;
	}

	.tooltip:hover .tooltiptext {
		visibility: visible;
		opacity: 1;
		width: 600px;
	}


	/* Css para o link de voltar ao index */
	.voltar {
		text-decoration: none;
		color: inherit;
		font-size: inherit;
		transition-property: color;
		transition-duration: 0.5s;
	}

	.voltar:hover {
		color: aliceblue;
	}
</style>


<div class='contentContainer' style='text-align: center'>
	<h1><a class="voltar" href="/">Horas anotadas</a></h1>

	<span id='todasSemanas' hidden>{{hours.response_string}}</span>
	<span id='cargaHoraria' hidden>{{hours.workload}}</span>
	<div id='listaDatas'></div>

	<div id='tabelaSemanas'>
		<table>
			<tr>
				<th>Data de inicio</th>
				<th>Data de fim</th>
				<th>Horas anotadas</th>
				<th class="tooltip">
					Horas anotadas + descanso
					<span class="tooltiptext">Horas anotadas somadas com o tempo do descanso semanal
						(o descanso corresponde a 15 minutos a cada 4 horas trabalhadas).
					</span>
				</th>

				<th>Carga horária</th>
				<th class="tooltip">
					Saldo
					<span class='tooltiptext'> Vermelho = Negativo; Verde = Positivo. </span>
				</th>
			</tr>
		</table>
	</div>
</div>

<script>

	function calcularDescanso(cargaHoraria) {
		return (1.25 / 20) * cargaHoraria
	}


	function converteFloatParaHoras(horaEmFLoat) {

		let horas = Math.floor(horaEmFLoat);
		let minutos = Math.trunc((horaEmFLoat - horas) * 60);

		horas = `${horas}`.length > 1 ? horas : `0${horas}`;
		minutos = `${minutos}`.length > 1 ? minutos : `0${minutos}`;

		return `${horas}:${minutos}`;

	}

	function styleTdSaldo(tr, saldo) {
		let tamanhoCells = tr.cells.length
		if (saldo <= 0) {
			tr.cells[tamanhoCells - 1].style.color = "#ff0000";
		} else if (saldo > 0) {
			tr.cells[tamanhoCells - 1].style.color = "#00ff37";
		}
		return tr;
	}

	function processaElementoLista(elemento, cargaHoraria, table) {

		let listaDados = elemento.split(",");
		let tr = document.createElement("tr");

		let descanso = calcularDescanso(cargaHoraria)
		let horaMaisDescanso = parseFloat(listaDados[2]) + descanso;

		let saldo = (cargaHoraria - horaMaisDescanso) * -1;



		horaMaisDescanso = converteFloatParaHoras(horaMaisDescanso);
		cargaHoraria = converteFloatParaHoras(cargaHoraria);

		listaDados.push(horaMaisDescanso);
		listaDados.push(cargaHoraria);
		listaDados.push(saldo);

		listaDados[2] = converteFloatParaHoras(listaDados[2])


		listaDados.forEach(dado => {
			let td = document.createElement("td");
			td.textContent = dado;
			tr.appendChild(td);
		});

		tr.cells[5].textContent = converteFloatParaHoras(Math.abs(saldo));

		table.appendChild(styleTdSaldo(tr, saldo));
		return saldo;
	}

	function criaTabelaHoras() {

		let listaDatasNaoProcessada = document.getElementById('todasSemanas').innerHTML;
		let listaDatasProcessada = listaDatasNaoProcessada.split(';').slice(0, -1);
		let table = document.querySelector("div > table");

		let cargaHoraria = document.getElementById('cargaHoraria').textContent;
		let saldoTotal = 0;
		let cargaHorariaPrimeiraSemana = cargaHoraria == 20 ? 8 : 4;

		listaDatasProcessada.forEach((elemento, index) => {

			if (index === 0) {
				saldoTotal += processaElementoLista(elemento, cargaHorariaPrimeiraSemana, table);
			} else {
				saldoTotal += processaElementoLista(elemento, cargaHoraria, table);
			}

		});

		let lastRow = document.createElement("tr");
		let total = document.createElement("td");
		let tdSaldoTotal = document.createElement("td");



		total.innerHTML = "<strong>Saldo total</strong>";
		total.colSpan = "5";
		total.style.textAlign = "center";

		lastRow.appendChild(total);
		lastRow.appendChild(tdSaldoTotal);
		table.appendChild(styleTdSaldo(lastRow, saldoTotal));

		tdSaldoTotal.textContent = converteFloatParaHoras(Math.abs(saldoTotal));

	}


	criaTabelaHoras()
</script>
{% include 'footer.html' %}
