{% with title="BrazSpeechData" %}
{% include "header.html" %}
{% endwith %}

<style>
	span{
		font-size: 1.2em;
	}
	form{
		margin-bottom: 50px;
	}

	input{
		font-size: 1.1em;
	}

	input:hover{
		transition: 0.5s;
		color: aliceblue;
		background-color: #363636;
	}
</style>


<div class="contentContainer" style="text-align: center">
	<h1>Horas trabalhadas</h1>
	
	<span id="todasDatas" hidden>{{hours.response_string}}</span>
	<div id="listaDatas"></div>

</div>

<script>

		let listaDatasNaoProcessada = document.getElementById("todasDatas").innerHTML;
		let listaDatasProcessada = listaDatasNaoProcessada.split(";").slice(0,-1);
		let ul = document.createElement("ul");

		listaDatasProcessada.forEach(elemento=>{
			let li = document.createElement("li");
			li.innerHTML= elemento;
			ul.appendChild(li);
		});

		let div = document.getElementById("listaDatas");
		div.appendChild(ul);

	
</script>
