{% with title="BrazSpeechData" %}
{% include "header.html" %}
{% endwith %}


<section class="hours-worked">
	<div class="container">
		<div class="return">
			<a href="/">Horas anotadas</a>
		</div>
		

		<span id='todasSemanas' hidden>{{hours.response_string}}</span>
		<span id='cargaHoraria' hidden>{{hours.workload}}</span>
		<span id='desdeInicio' hidden>{{hours.since_start}}</span>

		<div class="hours-table" id='tabelaSemanas'>
			<table>
				<tr>
					<th>Data de inicio</th>
					<th>Data de fim</th>
					<th>Horas anotadas</th>
					<th class="tooltip">
						Horas anotadas + descanso (*)
						<span class="tooltiptext">Horas anotadas somadas com o tempo do descanso semanal
							(o descanso corresponde a 15 minutos a cada 4 horas trabalhadas).
						</span>
					</th>

					<th>Carga horária</th>
					<th class="tooltip">
						Saldo
						<span class='tooltiptext'> Vermelho = Negativo; Verde = Positivo. </span>
					</th>
				</tr>
			</table>
		</div>

		<div class="observations">
			<p>
				<strong>*OBS:</strong> o descanso da semana corrente inteira é creditado antecipadamente na integra todas as
				segundas-feiras ás 0h00.
			</p>
	
			<p>
				<strong>**OBS:</strong> clicar no campo "Horas anotadas", que está fora da tabela, retorna para anotação.
			</p>
		</div>
		

	</div>
</section>



<script>

	function calcularDescanso(cargaHoraria) {
		return (1.25 / 20.0) * cargaHoraria
	}


	function converteFloatParaHoras(horaEmFLoat) {

		let horas = Math.floor(horaEmFLoat);
		let minutos = ((horaEmFLoat - horas) * 60.0).toFixed(0);
		horas = `${horas}`.length > 1 ? horas : `0${horas}`;
		minutos = `${minutos}`.length > 1 ? minutos : `0${minutos}`;

		return `${horas}:${minutos}`;

	}

	function styleTdSaldo(tr, saldo) {
		let tamanhoCells = tr.cells.length
		if (saldo < 0) {
			tr.cells[tamanhoCells - 1].style.color = "#ff0000";
		} else if (saldo >= 0) {
			tr.cells[tamanhoCells - 1].style.color = "#00ff37";
		}
		return tr;
	}

	function processaElementoLista(elemento, table) {

		let listaDados = elemento.split(",");
		let tr = document.createElement("tr");
		let cargaHoraria = parseFloat(listaDados[3]);
		console.log(cargaHoraria)
		let descanso = calcularDescanso(cargaHoraria)
		console.log(descanso)
		let horaMaisDescanso = parseFloat(listaDados[2]) + descanso;

		let saldo = (cargaHoraria - horaMaisDescanso) * -1;



		horaMaisDescanso = converteFloatParaHoras(horaMaisDescanso);


		listaDados[3] = horaMaisDescanso;
		listaDados.push(cargaHoraria);
		listaDados.push(saldo);

		listaDados[2] = converteFloatParaHoras(listaDados[2])


		listaDados.forEach(dado => {
			let td = document.createElement("td");
			td.textContent = dado;
			tr.appendChild(td);
		});

		tr.cells[5].textContent = converteFloatParaHoras(Math.abs(saldo));

		table.appendChild(styleTdSaldo(tr, saldo));
		return saldo;
	}

	function criaTabelaHoras() {

		let listaDatasNaoProcessada = document.getElementById('todasSemanas').innerHTML;
		let listaDatasProcessada = listaDatasNaoProcessada.split(';').slice(0, -1);
		console.log(listaDatasProcessada)
		let table = document.querySelector("div > table");

		let cargaHoraria = document.getElementById('cargaHoraria').textContent;
		let desdeInicio = document.getElementById('desdeInicio').textContent;
		let saldoTotal = 0;
		let cargaHorariaPrimeiraSemana = cargaHoraria == 20 ? 8 : 4;

		listaDatasProcessada.forEach((elemento, index) => {
			saldoTotal += processaElementoLista(elemento, table);
		});

		let lastRow = document.createElement("tr");
		let total = document.createElement("td");
		let tdSaldoTotal = document.createElement("td");



		total.innerHTML = "<strong>Saldo total</strong>";
		total.colSpan = "5";
		total.style.textAlign = "center";

		lastRow.appendChild(total);
		lastRow.appendChild(tdSaldoTotal);
		table.appendChild(styleTdSaldo(lastRow, saldoTotal));

		tdSaldoTotal.textContent = converteFloatParaHoras(Math.abs(saldoTotal));

	}


	criaTabelaHoras()
</script>
{% include 'footer.html' %}
