{% with title="BrazSpeechData" %}
{% include "header.html" %}
{% endwith %}
<section class="annotation">
	<div class="container">
		<p class="sentence">Sentença: {{dataset.text}}</p>

		<div class="audio-controls">
			<div class="current-audio">
				<audio id="current-audio" controls autoplay>
					<source src="{{ url_for('static', filename=dataset.file_path) }}" type="audio/wav"
						media="(min-width: 900px)" preload>

					Your browser does not support the audio element. Please contact the admin!
				</audio>
			</div>
			<div class="loop-button">
				<i id="loop-button" class="fas fa-redo" onclick="gerenciarCookie()" ativo></i>
			</div>

		</div>
		<div class="annotation-options">
			<div class="container">
				<div class="options-inputs">
					<input id="valido" type="button" onclick="mostrarClassesSelecionada('Valido')" value="Valid"
						name="ShowValidList" />

					<input id="invalido" type="button" onclick="mostrarClassesSelecionada('Invalido')" value="Invalid"
						name="ShowInvalidList" />
				</div>

				{% include "classes_invalido.html" %}
				{% include "classes_valido.html" %}
			</div>
		</div>
	</div>
</section>

<script src="{{ url_for('webui.static', filename='js/RVerify.js') }}"></script>

<script>

	RVerify.configure({
		tolerance: 15,
		duration: 500,
		mask: 0.5,
		title: "Proteção contra bots",
		text: "Deixe a imagem com o ângulo certo.",
		album: [
			"{{ url_for('webui.static', filename='images/image1.jpg') }}",
			"{{ url_for('webui.static', filename='images/image2.jpg') }}",
			"{{ url_for('webui.static', filename='images/image3.jpg') }}",
			"{{ url_for('webui.static', filename='images/image4.jpg') }}",
		]
	});

	console.log(document.cookie)

	gerenciarLoop();

	function gerenciarCookie() {
		let botaoLoop = document.getElementById("loop-button");

		if (botaoLoop.loopAtivo) {
			document.cookie = "loop=false";
		} else {
			document.cookie = "loop=true";
		}

		gerenciarLoop();
	}

	function getCookieValue() {
		let cookieRe = /loop=\w*/g;
		let cookieString = document.cookie.match(cookieRe);
		// verifica se já foi estabelecido algum valor ao cookie e depois retorna o valor
		if (cookieString) {
			let cookieValue = cookieString[0].split("=")[1] === 'true';
			return cookieValue;
		}

		return false;
	}

	function gerenciarLoop() {
		let botaoLoop = document.getElementById("loop-button");
		let audioTag = document.getElementById("current-audio");
		let cookieValue = getCookieValue();

		if (cookieValue !== null) {
			botaoLoop.style.opacity = cookieValue ? 1.0 : 0.5;
			botaoLoop.loopAtivo = cookieValue;
			audioTag.loop = cookieValue;
		} else {
			botaoLoop.style.opacity = 0.5;
			botaoLoop.loopAtivo = false;
			audioTag.loop = false;
		}


	}


	function esconderClassesNaoSelecionadas(classe) {

		document.getElementById(`pEscondido${classe}`).hidden = true;

		document.getElementById(`inputEscondido${classe}`).hidden = true;

		let div = document.getElementById(`divEscondido${classe}`);
		div.hidden = true;
		div.className = null;

	}

	function mostrarClassesSelecionada(classe) {

		// Desabilita o input da classe selecionada e habilita o outro
		document.getElementById(classe.toLowerCase()).disabled = true;
		let classeInversa = classe === "Valido" ? "Invalido" : "Valido";
		document.getElementById(classeInversa.toLowerCase()).disabled = false;

		// Mostra o conteudo da classe selecionada e esconde da outra
		document.getElementById(`pEscondido${classe}`).removeAttribute("hidden");
		let div = document.getElementById(`divEscondido${classe}`);
		div.removeAttribute("hidden");
		div.className = "listado";
		console.log(div)
		esconderClassesNaoSelecionadas(classeInversa);

		// Mostra o input de submit escondido
		document.getElementById(`inputEscondido${classe}`).removeAttribute("hidden");

	}


</script>

</div>
