{% with custom_header=True %}
{% include "header.html" %}
{% endwith %}

<header>
	<div class="container">
		<div class="project-info">
			<h1 class="project-name">BrazSpeechData</h1>
			<img class="logo-copel" src='{{url_for("webui.static", filename="images/Copel.svg")}}'
				alt="Logo da Copel" />
		</div>
	</div>
</header>

<body>
	<section class="login">
		<div class="container">
			<form method="post">
				<label for="username">Usuário:</label>
				<input type="text" name="username">
				<label for="password">Senha:</label>
				<input type="password" name="password">
				<input class="form-submit-button" type="submit" value="ok">
			</form>
		</div>
	</section>

	<script type="application/javascript">
		const dataUltimaChecagem = new Date(0);
		document.cookie = `dataUltimaChecagem=${dataUltimaChecagem}`
	</script>
</body>


{% include "footer.html" %}
