{% with title="BrazSpeechData" %} {% include "header.html" %} {% endwith %}
<section class="transcribe-page">
  <div class="container">
    <p class="sentence">Texto atual: {{dataset.text_asr}}</p>

    <div class="audio-controls">
      <div class="current-audio">
        <audio id="current-audio" controls autoplay>
          <source
            src="{{ url_for('static', filename=dataset.file_path) }}"
            type="audio/wav"
            media="(min-width: 900px)"
            preload
          />

          Your browser does not support the audio element. Please contact the
          admin!
        </audio>
      </div>
      <div class="loop-button">
        <i
          id="loop-button"
          class="fas fa-redo"
          onclick="gerenciarCookie()"
          ativo
        ></i>
      </div>
    </div>

    <div class="transcribe-form-div">
      <form id="form" method="post" action="/transcribe_page">
        <div>
          <textarea id="transcricao" name="transcricao" rows="5" cols="50">
{{dataset.text_asr}}</textarea
          >
        </div>

        <div class="submit-div">
          <input
            class="submit-button"
            id="submitValid"
            type="button"
            value="Submeter"
            onclick="formSubmit('submitValid')"
            disabled
          />
          <input
            class="submit-button submit-button--red"
            id="submitInvalid"
            type="button"
            value="Invalidar"
            onclick="formSubmit('submitInvalid',false)"
            disabled
          />
        </div>
      </form>
    </div>
  </div>
</section>

<script>
  setTimeout(() => {
    document.querySelectorAll("input").forEach((input) => {
      input.disabled = false;
    });
  }, 3000);

  gerenciarLoop();

  function gerenciarCookie() {
    let botaoLoop = document.getElementById("loop-button");

    if (botaoLoop.loopAtivo) {
      document.cookie = "loop=false";
    } else {
      document.cookie = "loop=true";
    }

    gerenciarLoop();
  }

  function getCookieValue() {
    let cookieRe = /loop=\w*/g;
    let cookieString = document.cookie.match(cookieRe);
    // verifica se já foi estabelecido algum valor ao cookie e depois retorna o valor
    if (cookieString) {
      let cookieValue = cookieString[0].split("=")[1] === "true";
      return cookieValue;
    }

    return false;
  }

  function gerenciarLoop() {
    let botaoLoop = document.getElementById("loop-button");
    let audioTag = document.getElementById("current-audio");
    let cookieValue = getCookieValue();

    if (cookieValue !== null) {
      botaoLoop.style.opacity = cookieValue ? 1.0 : 0.5;
      botaoLoop.loopAtivo = cookieValue;
      audioTag.loop = cookieValue;
    } else {
      botaoLoop.style.opacity = 0.5;
      botaoLoop.loopAtivo = false;
      audioTag.loop = false;
    }
  }

  function formSubmit(id, isValid = true) {
    let button = document.getElementById(id);
    const textArea = document.getElementById("transcricao");
    if (!button.disabled) {
      button.disabled = true;
      if (!isValid) {
        textArea.value = "###";
      }
      document.getElementById("form").submit();
    }
  }
</script>
