{% with title="BrazSpeechData" %}
{% include "header.html" %}
{% endwith %}

<section class="transcribe-tutorial">
	<div class="container tutorial">

		<div class="return">
			<a href="/"><strong>Tutorial - Tarefa de revisão da transcrição de áudios</strong></a>
		</div>


		<p>

			Você foi convidado para revisar a transcrição dos áudios do córpus <strong> WhatsApp</strong> da empresa
			Deep
			Learning Brasil. Esse córpus foi criado no cenário de uma abordagem de melhoria contínua do Reconhecedor de
			Fala Automático (ASR, em inglês) da empresa. A empresa divulgou o número do whatsapp do seu transcritor
			automático em grupos de whatsapp e listas de alunos e fez um pedido de doação de áudios para melhorar seu
			ASR. O córpus possui sotaques bem variados, de várias regiões do Brasil, incluindo conversas mais formais de
			ambientes empresarias, além das informais.


		</p>
		<p>A tarefa de Transcrição é ativada pelo link <strong> Transcrição </strong> na tela do site BrazSpeechData.
		</p>

		<p>A tela da revisão da transcrição é composta por:</p>

		<ul class="listaNegrito">



			<li>
				Um áudio.
			</li>



			<li>
				Uma transcrição em uma janela de edição.
			</li>


			<li>
				Um botão de SUBMIT.
			</li>


		</ul>

		<p>

			<strong>Os passos da transcrição são os seguintes:</strong>

		</p>





		<ol type="1" class="listaNegrito">



			<li>

				Audição de um áudio (que pode ser ouvido quantas vezes desejar).
			</li>



			<li>
				Analisar se é um dos casos abaixo, para descartar:<br><br>
				música;<br />
				palmas;<br />
				palavra truncada no áudio;<br>
				ruído alto;<br />
				palavrão;<br />
				áudio em português de Portugal, ou outra língua diferente de Português do Brasil;<br />
				discurso de ódio; <br />
				voz muito baixa;<br />
				voz incompreensível;<br />
				segunda voz alta.
			</li>

			<li>
				Se sim, colocar ### na janela de edição e clicar no botão SUBMIT.
			</li>

			<li>Se não for um dos casos acima, fazer a leitura da transcrição automática até o fim.</li>
			<li>Corrigir a transcrição na janela de edição, se necessário, usando as 8 diretrizes abaixo.</li>
			<li>Assim que terminar, clicar no botão SUBMIT.</li>
		</ol>


		<p>Seguem as <strong> 8 diretrizes </strong> a serem adotadas para a transcrição deste córpus que usa
			principalmente a transcrição ortográfica:</p>

		<ol class="listaNegrito">



			<li>

				<strong>Marcas da oralidade:</strong> Se no áudio foi ouvido tá/tô, transcreva como tá/tô, não mude para
				está/estou. O mesmo vale para contrações como né, não mude para não é.
				Outros casos válidos: cê, cês, e contrações a partir do “para" (pro, pra); contrações a partir do “de”
				(dum, duma), daí, e contrações a partir do “em” (num, numa).<br>

				<p class="presteAtencao">Para facilitar a transcrição, vamos usar somente os casos acima da fala
					coloquial. O resto será colocado na norma escrita culta, usando uma transcrição ortográfica.</p>

			</li>



			<li>

				Transcreva a pausa preenchida. Tente aproximar a transcrição do que foi ouvido:<br>

				<p class="exemploCentrado"><strong> ah, ãh, eh, hum, uhum, aham, uh</strong></p>


			</li>



			<li>

				Transcreva as hesitações repetitivas:
				<p class="exemploCentrado">
					depois <strong>da da da </strong> janta teve doce <br>

					fui <strong> no no </strong> mer mercado<br>
					<strong> parece que parece que </strong>não é porque eles não vêm me ver eu não vou também né?
				</p>
			</li>

			<li>
				Escreva números por extenso. Seja para pesos, medidas, dia, ano, hora, datas completas<br>
				<p class="exemploCentrado">Hoje é dia <strong>vinte e quatro</strong> de novembro de <strong> dois mil e
						vinte</strong>.<br>
					Comprei <strong>dois</strong> quilos de salmão para fazer sashimi. </p>

			</li>

			<li>
				Letras que aparecem sozinhas devem ser escritas por extenso.<br>

				<p class=" exemploCentrado"> Meu nome começa com <strong> &eacute;sse</strong>. Me chamo Sandra.</p>
			</li>


			<li>
				Siglas e abreviaturas devem ser transcritas por extenso.<br>

				<p class="exemploCentrado">Qual site do <strong> I bê gê é </strong>?</p>
				<p class="exemploCentrado">Andei três <strong>quilômetros</strong> para comprar três
					<strong>quilos</strong> de batatas.
				</p>

				Temos 3 conceitos relacionados:<br />

				<ol type="i">
					<li>Siglas - ABNT, RNP, IBGE</li>
					<li>Acrônimos (siglas que formam palavras, não expandir): USP, ONU, MEC</li>
					<li>Abreviaturas - km, Hz</li>
				</ol>

				<p class="presteAtencao">USEM:</p>

				Alfabeto em inglês para as SIGLAS em INGLÊS: <br />
				<a href="https://www.mosalingua.com/pt/alfabeto-em-ingles/" class="link" target="_blank">LINK: Alfabeto
					em inglês</a><br /><br />


				Alfabeto em português para as SIGLAS em Português: <br />
				<a href="https://duvidas.dicio.com.br/alfabeto-completo-da-lingua-portuguesa/" class="link"
					target="_blank"> LINK: Alfabeto completo da língua portuguesa</a><br />


			</li>

			<li>
				Transcreva os estrangeirismos. Muitos vem do jargão tecnológico:
				<p class="exemploCentrado">
					laptops, netbook, notebook coach, e-reader, skinhead, smartphone, tablet air bag, bike, blitz,
					blockbuster, bluetooth, boeing, book, bullying, business, chip, closet, cult, diet, experts,
					fashion, fast-food, glamour, hacker, high-tech, laptops, light, nerd, netbook, outdoor, piercing,
					pizza, resort, round, royalties, shopping, single, skate, slogan, smoking, socialites, stand-up,
					talk-show, test drive, workshops boom, round, top
				</p>
			</li>

			<li>
				<strong>PODEM</strong> usar pontuação (vírgulas, ponto, exclamações e interrogações) e
				<strong>PODEM</strong> usar maiúsculas para início de oração ou nomes. Será fácil uniformizar após a
				anotação.
			</li>

		</ol>
	</div>
</section>
