{% with title="BrazSpeechData" %}
{% include "header.html" %}
{% endwith %}

<section class="transcribe-tutorial">
	<div class="container tutorial">

		<div class="return">
			<a href="/"><strong>Tutorial - Tarefa de revisão da transcrição de áudios</strong></a>
		</div>


		<p>

			Você foi convidado para revisar a transcrição dos áudios do córpus ALIP.
			ALIP compõe-se de dois tipos de amostras de fala, que registram a variedade do PB falado
			no interior paulista: (i) uma amostra do censo linguístico de parte da região noroeste
			do estado de São Paulo; (ii) uma amostra constituída de 11 diálogos, envolvendo de dois até
			cinco informantes, gravados secretamente, em contextos livres de interação social.

		</p>
		<p>A tarefa de Transcrição é ativada pelo link <strong> Transcrição </strong> na tela do site BrazSpeechData.
		</p>

		<p>A tela da revisão da transcrição é composta por:</p>

		<ul class="listaNegrito">



			<li>
				Um áudio.
			</li>



			<li>
				Uma transcrição em uma janela de edição.
			</li>


			<li>
				Um botão de SUBMIT.
			</li>


		</ul>

		<p>

			<strong>A tarefa de transcrição é composta de:</strong>

		</p>





		<ol type="1" class="listaNegrito">



			<li>

				Audição de um áudio (que pode ser ouvido quantas vezes desejar).
			</li>



			<li>
				Analisar se é um dos casos abaixo, para descartar: <br><br>
				música,<br />
				palmas,<br />
				palavra truncada no áudio, <span class="presteAtencao">No ALIP é marcada com / (ele ca/ casou semana
					passada)</span> <br>
				ruído alto,<br />
				palavrão,<br />
				voz muito baixa,<br />
				voz incompreensível,<br />
				segunda voz alta. <span class="presteAtencao"> No ALIP, duas ou mais falas sobrepostas já estão
					transcritas</span>


			</li>

			<li>
				Se sim, colocar ### na janela de edição e clicar no botão SUBMIT.
			</li>

			<li>Se não for um dos casos acima, fazer a leitura da transcrição automática ou humana.</li>
			<li>Corrigir a transcrição na janela de edição, se necessário, usando as 10 regras abaixo.</li>
			<li>Assim que terminar, clicar no botão SUBMIT.</li>
		</ol>


		<p>Seguem as <strong> 10 regras </strong> a serem adotadas para a transcrição:</p>

		<ol class="listaNegrito">



			<li>

				<strong> Fala coloquial:</strong> Se no áudio for ouvido tá, transcreva como tá, não mude para está. O
				mesmo vale para né, não mude para
				não é.<br>

				<p class="presteAtencao">Para facilitar a transcrição, vamos usar somente estas duas palavras da fala
					coloquial. O resto será colocado na norma culta.</p>

			</li>



			<li>

				Transcreva a pausa preenchida. Tente aproximar a transcrição do que foi ouvido:<br>

				<p class="exemploCentrado"><strong> ah, ãh, eh, hum, uhum, aham, uh</strong></p>


			</li>



			<li>

				Transcreva as hesitações repetitivas:
				<p class="exemploCentrado">
					depois <strong>da da da </strong> janta teve doce <br>

					fui <strong> no no </strong> mer mercado<br>
					<strong> parece que parece que </strong>não é porque eles não vêm me ver eu não vou também né?
				</p>
			</li>

			<li>
				Escreva números por extenso. Seja para pesos, medidas, dia, ano, hora, datas completas.<br>
				<p class="exemploCentrado">Hoje é dia vinte e quatro de novembro de dois mil e vinte.<br>
					Comprei dois kilos de salmão para fazer sashimi. </p>

			</li>



			<li>
				Siglas devem ser transcritas por extenso.<br>

				<p class="exemploCentrado">Qual site do <strong> ibegeé </strong>?</p>


				Temos 3 conceitos relacionados:<br />

				<ol type="i">
					<li>Siglas - ABNT, RNP</li>
					<li>Acrônimos (siglas que formam palavras): ONU, MEC</li>
					<li>Abreviaturas - km, Hz</li>
				</ol>

				<p class="presteAtencao">USEM:</p>

				Alfabeto em inglês para as SIGLAS em INGLÊS: <br />
				<a href="https://www.mosalingua.com/pt/alfabeto-em-ingles/" class="link" target="_blank">LINK: Alfabeto
					em inglês</a><br /><br />


				Alfabeto em português para as SIGLAS em Português: <br />
				<a href="https://duvidas.dicio.com.br/alfabeto-completo-da-lingua-portuguesa/" class="link"
					target="_blank"> LINK: Alfabeto completo da língua portuguesa</a><br />


			</li>


			<li>
				Letras que aparecem sozinhas devem ser escritas por extenso.<br>

				<p class=" exemploCentrado"> Meu nome começa com <strong> esse</strong>. Me chamo Sandra.</p>
			</li>


			<li>
				Transcreva os estrangeirismos. Muitos vem do jargão tecnológico:
				<p class="exemploCentrado">laptops, netbook, notebook
					coach, e-reader, skinhead, smartphone, tablet
					air bag, bike, blitz, blockbuster, bluetooth, boeing, book, bullying,
					business, chip, closet, cult, diet, experts, fashion, fast-food, glamour, hacker, high-tech,
					laptops, light, nerd, netbook, outdoor, piercing, pizza, resort, round, royalties, shopping,
					single, skate, slogan, smoking, socialites, stand-up, talk-show, test drive, workshops
					boom, round, top
				</p>
			</li>


			<li>
				<strong>PODEM</strong> usar pontuação (vírgulas, ponto, exclamações e interrogações) e
				<strong>PODEM</strong> usar maiúsculas para início
				de oração ou nomes. Será fácil uniformizar após a anotação.
			</li>

			<li>
				Expandir nome próprio que foi indicado apenas pela inicial em minúscula, seguida de ponto<br>
				<p class="exemploCentrado">
					c. correu para a escola
				</p>
				<p class="exemploCentrado">
					A cadeira de j. ficou jogada
				</p>

			</li>

			<li>
				Remover hífen da silabação.
				<p class="exemploCentrado">
					ele disse – “fi-que-a-qui”
				</p>

			</li>
		</ol>
	</div>
</section>
