{% with title="BrazSpeechData" %}
{% include "header.html" %}
{% endwith %}



<section class="annotation-tutorial">

	<div class="container tutorial">

		<div class="return">
			<a href="/"><strong>Tutorial - Tarefa de avaliação de alinhamentos áudio-texto</strong></a>
		</div>


		<p>
			Você foi convidado para avaliar alinhamentos áudio-texto de vários córpus. Os trechos de texto (ou
			enunciados) vem de 4 córpus públicos da literatura: ALIP, NURC-RECIFE, C-ORAL Brasil, SP2010. Outros 2
			córpus estão em fase de processamento e negociação: Ted Talks Brasil e Museu da Pessoa.
		</p>

		<p>

			<strong>A tarefa de avaliação é composta da:</strong>

		</p>





		<ol type="i">



			<li>

				audição de um arquivo de áudio (que pode ser ouvido quantas vezes se desejar) e leitura de transcrição.
			</li>



			<li>

				anotação binária: <strong>VALID/INVALID</strong>.

			</li>



		</ol>



		<p>

			Sendo que para os pares anotados como <strong>VALID ou INVALID </strong> ainda é necessário indicar a razão
			da escolha.



		</p>



		<p>

			Há 3 causas para julgarmos um <strong>áudio inválido</strong>:

		</p>



		<ol class="listaNegrito">



			<li>

				Sobreposição de vozes

			</li>



			<li>

				Volume baixo da voz do locutor principal, tornando o áudio incompreensível

			</li>



			<li>

				Truncamento de palavra

			</li>

		</ol>





		<p>

			Há 3 causas para julgarmos uma transcrição inválida, i.e. aquela que não bate com o áudio:

		</p>



		<ol class="listaNegrito">



			<li>

				Palavras a mais na transcrição

			</li>



			<li>

				Palavras a menos

			</li>



			<li>

				Palavras trocadas

			</li>

			<p class="obs"><strong>NOTA 1: NA SOBREPOSIÇÃO de VOZES no MESMO VOLUME, SÓ a FALA do LOCUTOR PRINCIPAL É
					TRANSCRITA. NÃO IREMOS EDITAR PARA INCLUIR a SEGUNDA VOZ. ESSE PAR SERÁ EXCLUÍDO. </strong></p>
			<p class="obs"><strong>NOTA 2: INDICAMOS ERRO na TRANSCRIÇÃO quando houver apenas um LOCUTOR FALANDO. SE
					HOUVER PROBLEMA DE FALTA/EXCESSO ou TROCA de PALAVRAS, IREMOS EDITAR.</strong></p>
		</ol>






		<p>

			Após anotação, um novo áudio é fornecido, e assim por diante até o usuário desejar parar a anotação e/ou se

			desconectar.

		</p>



		<p>
			As normas de transcrição são diferentes para os diferentes córpus acima. As marcas de truncamento,
			prolongamentos de vogal/consoante, pausas, comentários e algumas outras foram removidas.
		</p>

		<p>
			Pausas preenchidas ficaram e aparecem de várias formas. Para a tarefa de alinhamento áudio-texto não
			julgamos essas formas utilizadas, por exemplo: ahn, hum, eh, hã. Elas vão aparecer naturalmente na
			transcrição. Encontramos também trechos de hesitação.
		</p>

		<p class="presteAtencao">
			DEVEMOS INDICAR SE um PAR VÁLIDO TRAZ uma PAUSA PREENCHIDA ou uma HESITAÇÃO !!!<br />
			OUTRAS OPÇÕES para PARES VÁLIDOS SÃO:
		</p>
		<ol class="presteAtencao">
			<li>Válidos sem problemas</li>
			<li>Válidos com ruído de fundo/voz baixa</li>
			<li>Válidos com sobreposição de voz baixa</li>
		</ol>

		<p><strong>REGRA 1:</strong> <span class="presteAtencao">Não invalide</span> uma sentença se FALTAR a
			transcrição da pausa preenchida, pois ela é muito curta.</p>
		<p><strong>REGRA 2:</strong> Quanto à hesitação, por exemplo: ...o mole o o o moleton …., <span
				class="presteAtencao">invalide se ela não for transcrita</span> , para que o trecho de hesitações seja
			inserido. Geralmente as hesitações são mais longas e se faltar a transcrição haverá desalinhamento do
			áudio-transcrição.</p>
		<p>A anotação deve julgar a qualidade/validade do pareamento para a compilação de um dataset para o
			Reconhecimento de Fala e não para o propósito original para o qual os córpus foram criados.</p>




		<div class="casosAnotacao">

			<h3>

				A lista abaixo resume os casos de anotação Valid e Invalid.

			</h3>



			<ul>

				<li>

					Validos:

					<ol type="1">

						<li>

							Sobreposição de voz (ou risos), se a segunda voz (ou risos) for baixa.

						</li>

						<li>

							Locutor com voz baixa, mas compreensível.

						</li>



						<span id="obsValido">*OBS: O que não foi anotado como Invalid será uma sentença/trecho

							Valid.</span>





					</ol>

				</li>



				<li>

					Invalidos:

					<ol type="1">

						<li>

							Sobreposição de voz (ou risos), se a segunda voz (ou risos) for em um

							volume próximo do volume do locutor principal.

						</li>

						<li>

							Locutor com voz baixa, mas incompreensível.

						</li>

						<li>

							Última palavra da sentença está truncada.

						</li>

						<li>

							Sentença composta por uma única palavra e essa palavra está truncada.

						</li>

						<li>

							Palavra(s) a mais, a menos ou trocadas na transcrição.

						</li>

						<li>

							Junção de 2 ou mais problemas acima, por exemplo, a anonimização com YYY na transcrição e

							zumbido no áudio.

						</li>

						<span id="obsInvalido">

							*Casos de Invalid não elencados acima devem ser anotados na janela de texto.

						</span>

					</ol>

				</li>

			</ul>

		</div>



		<div class="exemplos">



			<h2>

				Exemplos reais de pares de áudio-transcrição e sua anotação

			</h2>



			<h3 class="valido" style="margin-top: 100px;">

				Validos e sem problema:

			</h3>

			<dt>cê não pode aprontar apontar pra mesa</dt>

			<dd><audio controls="" src="http://143.107.183.175:14888/static/Dataset/data/7726_CO_bfamcv04.wav"></audio>

			</dd>

			<dt>cê quer começar adivinhando ou fazendo a mímica</dt>

			<dd><audio controls="" src="http://143.107.183.175:14888/static/Dataset/data/7928_CO_bfamcv04.wav"></audio>

			</dd>

			<dt>não pode falar nada</dt>

			<dd><audio controls="" src="http://143.107.183.175:14888/static/Dataset/data/7713_CO_bfamcv04.wav"></audio>

			</dd>

			<dt>mas cê nunca vai adivinhar nenhuma minha porque eu nũ tenho a mínima noção</dt>

			<dd><audio controls="" src="http://143.107.183.175:14888/static/Dataset/data/7706_CO_bfamcv04.wav"></audio>

			</dd>

			<dt>esse aqui não</dt>

			<dd><audio controls="" src="http://143.107.183.175:14888/static/Dataset/data/7688_CO_bfamcv04.wav"></audio>

			</dd>

			<dt>amarelo</dt>

			<dd><audio controls="" src="http://143.107.183.175:14888/static/Dataset/data/7682_CO_bfamcv04.wav"></audio>

			</dd>

			<dt>tá</dt>

			<dd><audio controls="" src="http://143.107.183.175:14888/static/Dataset/data/7653_CO_bfamcv04.wav"></audio>

			</dd>

			<dt>se alguém se enrola assim</dt>

			<dd><audio controls="" src="http://143.107.183.175:14888/static/Dataset/data/7849_CO_bfamcv04.wav"></audio>

			</dd>

			<dt>e quem for daltônico</dt>

			<dd><audio controls="" src="http://143.107.183.175:14888/static/Dataset/data/7662_CO_bfamcv04.wav"></audio>

			</dd>

			<dt>teve um teve uma fase longuíssima da história da RAI até o começo dos anos setenta o Bruno vai poder

				entender isso sem tradução em que não podia se falar hhh a conjunção "anche”</dt>

			<dd><audio controls="" src="http://143.107.183.175:14888/static/Dataset/data/8306_CO_bfamcv07.wav"></audio>

			</dd>

			<h3 class="valido" style="margin-top: 100px;">

				Sobreposição de voz (ou risos), se a segunda voz (ou risos) for baixa:

			</h3>



			<dl>

				<dt>é porque assim quando tem asterisco é pra todo mundo</dt>

				<dd><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7667_CO_bfamcv04.wav"></audio></dd>

				<dt>tem que ser tudo a mesma coisa</dt>

				<dd><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7698_CO_bfamcv04.wav"></audio></dd>

				<dt>a minha irmã é tão lerda Carla que até outro dia ela nũ sabia que o pen drive quando cê tira do

					computador cê tem que desativar</dt>

				<dd><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/8018_CO_bfamcv20.wav"></audio></dd>

				<dt>e vocês devem visitar o YouTube porque tem um um vídeo produzido pelo Mishima pelo Mishima o poeta o

					escritor japonês em homenagem</dt>

				<dd><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/8340_CO_bfamcv07.wav"></audio></dd>

			</dl>



			<h3 class="valido">

				Locutor com voz baixa, mas compreensível:

			</h3>



			<dl>

				<dt>mas tipo</dt>

				<dd><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7768_CO_bfamcv04.wav"></audio></dd>

				<dt>um rato</dt>

				<dd><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7782_CO_bfamcv04.wav"></audio></dd>

				<dt>o tempo dá briga</dt>

				<dd><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7871_CO_bfamcv04.wav"></audio></dd>

				<dt>tava saindo pus</dt>

				<dd><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/8137_CO_bfamcv20.wav"></audio></dd>

				<dt>pra todo mundo</dt>

				<dd><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7956_CO_bfamcv04.wav"></audio></dd>

			</dl>



			<h3 class="invalido" style="margin-top: 100px;">

				Sobreposição de voz (ou risos), se a segunda voz (ou risos) for em um

				volume próximo do volume do locutor principal:

			</h3>



			<dl>

				<dt>aí o no jogo do desenho por exemplo um cê nũ pode tirar o o o o lápis do papel o outro tem que

					desenhar com

					a mão esquerda</dt>

				<dd><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7690_CO_bfamcv04.wav"></audio>

				</dd>

				<dt>só tem uma entrada</dt>

				<dd><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/8035_CO_bfamcv20.wav"></audio>

				</dd>

				<dt>contei pra todo mundo</dt>

				<dd><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/8085_CO_bfamcv20.wav"></audio>

				</dd>

				<dt>cê lembra aquele dia com a Ana eu tinha gravado</dt>

				<dd><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/8420_CO_bfamcv07.wav"></audio>

				</dd>

				<dt>acaba o tempo</dt>

				<dd><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7858_CO_bfamcv04.wav"></audio>

				</dd>

				<dt>é lazer é onde tá filme e tudo né</dt>

				<dd><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7954_CO_bfamcv04.wav"></audio>

				</dd>

				<dt>eu eu conheço o velho Imagem e Ação</dt>

				<dd><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7656_CO_bfamcv04.wav"></audio>

				</dd>

				<dt>eu nũ vou jogar não hhh</dt>

				<dd><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7666_CO_bfamcv04.wav"></audio>

				</dd>

				<dt>sim todos jogam</dt>

				<dd><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7668_CO_bfamcv04.wav"></audio>

				</dd>

				<dt>esse asterisco é porque é pra todo mundo</dt>

				<dd><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7670_CO_bfamcv04.wav"></audio>

				</dd>

				<dt>depois só pro meu grupo</dt>

				<dd><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7673_CO_bfamcv04.wav"></audio>

				</dd>

				<dt>então se ocê tem uma cor predefinida cê nũ vai</dt>

				<dd><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7676_CO_bfamcv04.wav"></audio>

				</dd>

				<dt>mas esse é novo no que eu jogava nũ tinha isso não</dt>

				<dd><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7703_CO_bfamcv04.wav"></audio>

				</dd>

				<dt>pra nenhum objeto que tenha</dt>

				<dd><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7729_CO_bfamcv04.wav"></audio>

				</dd>

				<dt>que isso é similar</dt>

				<dd><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7733_CO_bfamcv04.wav"></audio>

				</dd>

				<dt>tá então só amarelo</dt>

				<dd><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7678_CO_bfamcv04.wav"></audio>

				</dd>

			</dl>





			<h3 class="invalido">

				Locutor com voz baixa, mas incompreensível:

			</h3>



			<dl>

				<dd>gato faz isso nada</dd>

				<dt><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7776_CO_bfamcv04.wav"></audio>

				</dt>

			</dl>



			<h3 class="invalido">

				Última palavra da sentença está truncada:

			</h3>



			<dl>

				<dd>hhh que saco</dd>

				<dt><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7664_CO_bfamcv04.wav"></audio>

				</dt>

				<dd>e palavras compostas que não s</dd>

				<dt><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7838_CO_bfamcv04.wav"></audio>

				</dt>

				<dd>a nossa chance é pontuar assim</dd>

				<dt><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7709_CO_bfamcv04.wav"></audio>

				</dt>

				<dd>eu fiquei olhando pra cara dela</dd>

				<dt><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/8040_CO_bfamcv20.wav"></audio>

				</dt>

				<dd>vai explicando aí</dd>

				<dt><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7722_CO_bfamcv04.wav"></audio>

				</dt>

				<dd>não cê só nũ p</dd>

				<dt><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7761_CO_bfamcv04.wav"></audio>

				</dt>

				<dd>no di</dd>

				<dt><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/8113_CO_bfamcv20.wav"></audio>

				</dt>

				<dd>a primei</dd>

				<dt><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7779_CO_bfamcv04.wav"></audio>

				</dt>

				<dd>ah primeiro a letra depois cê identifica a palavra</dd>

				<dt><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7806_CO_bfamcv04.wav"></audio>

				</dt>

				<dd>e tem um dadinho diferente ali</dd>

				<dt><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7687_CO_bfamcv04.wav"></audio>

				</dt>

				<dd>que saco</dd>

				<dt><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7912_CO_bfamcv04.wav"></audio>

				</dt>

			</dl>





			<h3 class="invalido">

				Sentença composta por uma única palavra e essa palavra está truncada:

			</h3>



			<dl>

				<dd>é</dd>

				<dt><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7680_CO_bfamcv04.wav"></audio>

				</dt>

				<dd>mas</dd>

				<dt><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7805_CO_bfamcv04.wav"></audio>

				</dt>



			</dl>


			<h3 class="invalido">

				Palavra(s) a mais, a menos ou trocadas na transcrição:

			</h3>



			<dl>

				<dd>porque esse aqui é quando for desenhar</dd>

				<dt><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7689_CO_bfamcv04.wav"></audio>

				</dt>

				<dd>ah cê não pode falar nada tipo se for</dd>

				<dt><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7711_CO_bfamcv04.wav"></audio>

				</dt>

				<dd>hhh tampinha</dd>

				<dt><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7975_CO_bfamcv04.wav"></audio>

				</dt>

				<dd>não eu adivinho</dd>

				<dt><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7944_CO_bfamcv04.wav"></audio>

				</dt>

				<dd>por exemplo duas palavras cê faz assim</dd>

				<dt><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7826_CO_bfamcv04.wav"></audio>

				</dt>

				<dd>é porque quando é uma né</dd>

				<dt><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/8003_CO_bfamcv04.wav"></audio>

				</dt>



			</dl>





			<h3 class="invalido">

				Junção de 2 ou mais problemas acima, por exemplo, a anonimização de trechos com YYY na transcrição e

				zumbido

				no áudio:

			</h3>



			<dl>

				<dd>eu s eu adivinho mímica muito fácil</dd>

				<dt><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/7705_CO_bfamcv04.wav"></audio>

				</dt>

				<dd>a minha yyy ela he a gente botava a blusa nela</dd>

				<dt><audio controls=""
						src="http://143.107.183.175:14888/static/Dataset/data/8199_CO_bfamcv20.wav"></audio>

				</dt>

			</dl>

		</div>
		<form method="post" action="/tutorial">
			<input type="submit" value="Ir Para Anotação" name="Ir Para Anotação" />

		</form>
</section>






{% include 'footer.html' %}
