/* some names still in portuguese because it could break the system if changed */
/* global sytle */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: inherit;
}

html {
	font-family: sans-serif;
	font-size: 10px;
	box-sizing: border-box;
	color: #b5e853;
}

body {
	width: 100%;
	height: 100%;
	background: #1a1a1a;
	background-size: cover;
}

a {
	text-decoration: none;
	color: #fafafa;
}

ul {
	list-style: none;
}

p {
	font-size: 1.6rem;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

section {
	padding: 5rem 0;
}

.container {
	width: 100%;
	max-width: 98rem;
	margin: 0 auto;
	padding: 0 1.5rem;
}

.captcha-form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
}

.captcha-img {
	max-width: 250px;
	display: inline-block;
}


input {
	border: none;
	font-size: 1.6rem;
	padding: 10px;
	border-radius: 5px;
	transition: all 650ms ease-in-out;
	transition-property: background-color, color;
	cursor: pointer;
}

input:hover:enabled,
input:focus {
	background-color: #4a4a4a;
	color: #b5e853;
}

input:disabled {
	cursor: default;
}

.link {
	position: relative;
	font-size: 1.8rem;
	text-decoration: none;
	color: #fafafa;
	padding: 1rem;
	text-align: center;
}

.link::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	background-color: #b5e853;
	height: 2px;
	width: 100%;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 650ms;
}

.link:hover::before {
	transform: scaleX(1);
}

.return {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 3rem 0;
}

.return a {
	text-decoration: none;
	color: #b5e853;
	font-size: 4.6rem;
	transition: color 650ms;
	text-align: center;
}

.return a:hover {
	color: aliceblue;
}

.sentence {
	font-size: 1.8rem;
	font-weight: 300;
	margin-bottom: 1.5rem;
	text-align: center;
}

.audio-controls,
.current-audio {
	display: flex;
	justify-content: center;
	align-items: center;
}

.audio-controls .current-audio,
.audio-controls .loop-button {
	margin: 10px;
	text-align: center;
	font-size: 30px;
}

.loop-button .fa-redo {
	font-size: 3rem;
}

.loop-button i {
	transition: transform 650ms ease-in-out;
	cursor: pointer;
}

.loop-button i:hover {
	transform: rotate(720deg);
}

.submit-button {
	padding: 1rem 3rem;
	margin-top: 2rem;
}

.heading {
	text-align: center;
	font-size: 2rem;
	margin: 2rem 0;
}

/* end global style */

/* header */
header {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px dashed #b5e853;
}

.project-info {
	margin: 5rem 0;
}

.project-name {
	font-size: 6rem;
	text-align: center;
	margin: 5rem 0;
}

.logo-copel {
	width: 20rem;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	pointer-events: none;
}

nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	padding: 1rem 0;
	position: relative;
}

.nav-info {
	font-size: 2rem;
	text-align: right;
	width: 100%;
}

.nav-list {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 2rem 0;
}

.nav-item {
	border-right: 0.1rem solid #b5e853;
	font-size: 1.6rem;
}

.nav-item.last {
	border-right: none;
}

.form-submit-button {
	width: 5rem;
	cursor: pointer;
	border-radius: 0.8rem;
	outline: none;
	text-transform: uppercase;
	text-align: center;
}

/* end header */

/* login */

.login form {
	width: 70%;
	margin: 0 auto;
}

.login label {
	width: 100%;
	display: block;
	font-size: 2.2rem;
}

.login input {
	width: 100%;
	padding: 1rem;
	margin: 1rem 0;
	border: none;
	border-radius: 0;
	outline: 1px solid #b5e853;
}

/* end login */

/* annotation */
.annotation {
	width: 100%;
	height: auto;
}

.listado {
	display: flex;
	align-items: center;
	justify-content: center;
}

.annotation-options {
	width: 100%;
	margin: 5rem 0;
}

.options-inputs {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.options-inputs input {
	width: 13rem;
}

.valid-options,
.invalid-options {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.p-reason {
	text-align: center;
	font-size: 2rem;
	margin: 2rem 0;
}

.annotation-form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
}


.annotation-form--hidden {
	display: none;
}

.options-table {
	width: 100%;
	font-size: 1.4rem;
	margin-top: 3rem;
}

.options-table tbody {
	width: 50rem;
}

.options-table td {
	padding: 0.6rem 0;
}

.options-table td label {
	padding: 0.4rem;
	border: 0.1rem solid #efefef;
}

.options-table input[type="radio"]:checked+label,
.options-table input[type="checkbox"]:checked+label {
	background: #d1d1d1;
	color: black;
}

.options-table input[type="text"] {
	height: 3rem;
	width: 50rem;
	border-radius: 0.5rem;
	border-color: #efefef;
	padding-left: 0.5rem;
	font-size: 1.6rem;
}

/* end annotation */

/* hours-worked */

.hours-worked {
	width: 100%;
	height: auto;
}

.hours-table {
	display: flex;
	align-items: center;
	justify-content: center;
}

.hours-table table {
	font-size: 1.8rem;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	overflow: scroll;
}

.hours-table th {
	color: #b5e853;
}

.hours-table td,
.hours-table th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
}

.hours-table tr:nth-child(even) {
	background-color: #474747;
}

.tooltip {
	position: relative;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 0;
	background-color: #474747;
	color: #fff;
	text-align: center;
	border: 0.1rem solid #dddddd;
	border-radius: 0.6rem;
	padding: 0.5rem 0;
	position: absolute;
	z-index: 10;
	top: 0;
	right: 50%;
	opacity: 0;
	transform: translate(20%, 0);
	transition: opacity 650ms;
	overflow-wrap: break-word;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
	width: 35rem;
}

.observations {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin: 3rem 0;
}

.observations p {
	font-size: 2.2rem;
	margin-bottom: 2rem;
}

/* end hours-worked */

/* transcribe-page */

.transcribe-page,
.transcribe-form-div form {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.transcribe-form-div form {
	gap: 2rem;
}

.transcribe-form-div {
	margin-top: 3rem;
}

.transcribe-form-div form {
	flex-direction: column;
}

.transcribe-form-div textarea {
	width: 100%;
	height: auto;
	font-size: 1.6rem;
	resize: none;
}

/* end transcribe-page */

/* tutorials */
.annotation-tutorial,
.transcribe-tutorial {
	display: flex;
	align-items: center;
	justify-content: center;
}

.tutorial {
	width: 100%;
	height: auto;
	margin: 0 1rem;
	line-height: 1.8;
}

.tutorial p,
.tutorial li {
	padding: 1rem;
	font-size: 1.8rem;
	text-align: justify;
	color: #fafafa;
}

.tutorial li {
	margin-left: 2rem;
}

.listaNegrito {
	font-weight: bold;
	transform: translateX(5rem);
}

.casosAnotacao,
.exemplos {
	text-align: justify;
	font-size: 2rem;
}

.presteAtencao {
	color: #db0000;
}

.tutorial strong,
.tutorial .link {
	color: #b5e853;
}

span#obsValido:hover,
h3.valido {
	color: #0387e6;
	text-shadow: none;
}

span#obsInvalido:hover,
h3.invalido {
	color: #ff0000;
	text-shadow: none;
}

h3.valido,
h3.invalido {
	margin: 60px 0;
}

.tutorial dt,
.tutorial dl {
	margin: 5px;
	font-size: 0.9em;
}

/* end tutorials */

/* change-password */

.change-password {
	width: 100%;
}

.change-password form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.change-password form div {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 2rem;
}

.change-password label {
	font-size: 1.8rem;
}

/* end change-password */

/* admin */
.admin {
	width: 100%;
}

.admin .container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.bem-vindo {
	width: 100%;
	height: 10vh;
	margin: 6rem 0;
}

.bem-vindo {
	font-size: 2rem;
	text-align: center;
}

.admin .links {
	margin: 4rem 0;
	font-size: 1.8rem;
}

.admin .links div {
	margin-bottom: 2rem;
	font-size: 2rem;
}

.download-csv {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.download-csv h3 {
	display: block;
	font-size: 2rem;
	text-align: center;
	margin-bottom: 1.5rem;
}


.download-csv__forms {
	display: flex;
	justify-content: space-between;
	gap: 5rem;
	flex-wrap: wrap;
}

.download-csv__input {
	width: 100%;
	min-width: 100px;
}

/* end admin */

/* lista-usuarios */
.lista-usuarios,
.lista-usuarios-table-div {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.lista-usuarios-table-div+.lista-usuarios-table-div {
	margin-top: 5rem;
}

.lista-usuarios-table-div h2 {
	font-size: 2.6em;
	margin-bottom: 1.6rem;
}

.lista-usuarios-table-div table {
	font-size: 1.6rem;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	overflow: auto;
}

.lista-usuarios-table-div th {
	color: #b5e853;
}

.lista-usuarios-table-div td,
.lista-usuarios-table-div th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
}

.lista-usuarios-table-div tr:nth-child(even) {
	background-color: #474747;
}

/* end lista-usuarios */

/* audios-info */

.audios-info {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	position: relative;
}

.audio-grid {
	display: grid;
	grid-template-rows: repeat(auto-fit, 1fr);
	gap: 2.5rem;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}

.audio-grid-item p {
	font-size: 1.8rem;
	color: #fafafa;
}

/* end audios-info */

/* create-user */

.create-user {
	width: 100%;
}

.create-user form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.create-user form div {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 2rem;
}

.create-user label {
	font-size: 1.8rem;
}

.create-user form input[type="button"] {
	width: 15rem;
	height: 3rem;
}

/* end create-user */


/* audits */

.audit-table {
	font-size: 1.6rem;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	color: #b5e853;
}

.audit td,
.audit th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
}

.audit tr:nth-child(even) {
	background-color: #474747;
}




/* media querys */

@media screen and (max-width: 800px) {
	.nav-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
		gap: 2.5rem;
	}

	.hours-table table {
		font-size: 1.6rem;
	}

	.lista-usuarios-table-div table {
		font-size: 1.2rem;
	}

	.tooltip:hover .tooltiptext {
		width: 20rem;
	}
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
	/* audit media query */

	.audit-table,
	.audit-table thead,
	.audit-table tbody,
	.audit-table th,
	.audit-table td,
	.audit-table tr {
		display: inline-block;
	}

	.audit-table thead tr {
		display: none;
	}

	.audit-table tr {
		border: 1px solid #dddddd;
	}

	.audit-table td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding: 20px 0;
		padding-left: 50%;
		width: 100%;
		overflow-wrap: break-word;
	}

	.audit-table td:before {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 45%;
		padding: 20px 0;
		padding-left: 20px;
		overflow-wrap: break-word;
	}


	.audit-table td:nth-of-type(1):before {
		content: "Usuário";
	}

	.audit-table td:nth-of-type(2):before {
		content: "Tempo médio por áudio (segundos)";
	}

	.audit-table td:nth-of-type(3):before {
		content: "Pausas por anotador";
	}

	.audit-table td:nth-of-type(4):before {
		content: "Máximo trabalhado em um dia";
	}

	.audit-table td:nth-of-type(5):before {
		content: "Anotações maiores que o tempo do áudio";
	}

	.audit-table td:nth-of-type(6):before {
		content: "Total de áudios por pessoa";
	}
}
